<html>
    <head>
        <title>Greetings</title>
    </head>
    <body>
        <h2>Hello, my master {{ user_name }}!!!<br/>I'm greeting to you!</h2>
	<p><a href='/info'>Informationabout virtual machine</p>
	<p><a href='/start'>Start virtual machine</p>
	<p><a href='/stop'>Stop virtual machine</p>
	<p><a href='/delete'>Delete virtual machine</p>
	<p><a href='/get_ip'>Get virtual machine ip</p>
	<p><a href='/login'>Log in user</p>
	<p><a href='/logout'>Log out</p>
	<p><a href='/register'>Register new user</p>
	<p><a href='/clone'>Clone virtual machine</p>
	<p><a href='/configs'>Config virtual machine</p>
    </body>
</html>

